#console {
    margin-bottom: 50px
    width: 100%;
    text-align: center;
    font-size: 40px;
}

#credit {
    margin-bottom: 50px
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#wrapper > button {
    background-color: #45719B;
    border: 1px solid #26445F;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 1px #253E5C;
}

#markov-app {
    width: 100%;
    text-align: center;
}

.state-slider {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.view {
    display: inline-block;
    margin: 10px;
}

.image {
    height: 500px;
}

.note {

}